@page "{id:int}"
@model Departments.Details

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt name-for="Data.Name"></dt>
        <dd value-for="Data.Name"></dd>
        <dt name-for="Data.Budget"></dt>
        <dd value-for="Data.Budget"></dd>
        <dt name-for="Data.StartDate"></dt>
        <dd value-for="Data.StartDate"></dd>
        <dt name-for="Data.AdministratorFullName"></dt>
        <dd value-for="Data.AdministratorFullName"></dd>
    </dl>
</div>
<div>
    <a asp-page="Edit" asp-route-id="@Model.Data.Id">Edit</a> |
    <a asp-page="Index">Back to List</a>
</div>
