@page "{id:int}"
@model Departments.Edit

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Data.Id" />
            <input type="hidden" asp-for="Data.RowVersion" />
            <form-block asp-for="Data.Name" />
            <form-block asp-for="Data.Budget" />
            <form-block asp-for="Data.StartDate" />
            <form-block asp-for="Data.Administrator" />
            <form-block-submit>Save</form-block-submit>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
